@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, :root {
  max-width: 1680px;
  height: 100%;
  margin: auto;
  background-color: gray;
}

.btn {
  @apply px-4 py-2 text-2xl rounded-md shadow-md hover:shadow-lg bg-sky-300 hover:bg-sky-400 transition text-white font-bold;
}

.btn-2 {
  @apply px-4 py-2 mt-5 text-2xl rounded-md shadow-md hover:shadow-lg bg-green-400 hover:bg-green-500 transition text-white font-bold;
}

.btn-3 {
  @apply px-4 py-2 mt-5 text-2xl rounded-md shadow-md hover:shadow-lg bg-purple-400 hover:bg-purple-500 transition text-white font-bold;
}

.btn-4 {
  @apply px-5 py-2 text-xl rounded-md shadow-md hover:shadow-lg bg-orange-400 hover:bg-orange-500 transition text-white font-bold;
}